.container {
  position: relative;
  padding: 12px;
  margin: 40px 0px;
  border: 2px solid var(--color-neutral-content);
  border-radius: 12px;

  @media (min-width: 1025px) { /* Laptop+ */ 
    padding: 32px;
  }
}

.header {
  position: absolute;
  display: flex;
  gap: 12px;
  color: var(--color-warning);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  top: -24px;
  left: 20px;
  z-index: 10;

  @media (min-width: 1025px) { /* Laptop+ */ 
    font-size: 2.25rem;
    top: -30px;
  }
}

.tables {
  display: flex;
  gap: 32px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.stationHeader {
  color: var(--color-warning);
  font-family: 'Play', sans-serif;
  font-size: 2rem;
  text-align: center;
}

.stationGroup {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;
  gap: 24px;
  padding: 12px;
  padding-bottom: 60px;
  border: 1px dotted var(--color-neutral-content);

  @media (min-width: 1025px) { /* Laptop+ */ 
    padding: 24px;
  }
}