@import '../../../animations.css';

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
  padding: 32px;
  border: 2px solid var(--neutralContent);
  border-radius: 12px;
  animation: 250ms fade-in-right ease-in;
}

.header {
  position: absolute;
  color: var(--warning);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  top: -24px;
  left: 20px;
  z-index: 10;

  @media (min-width: 1025px) { /* Laptop+ */ 
    font-size: 2.25rem;
    top: -30px;
  }
}

.footer {
  position: absolute;
  color: var(--neutralContent);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  bottom: -20px;
  right: 20px;
  z-index: 10;
  animation: 250ms fade-in linear;

  @media (min-width: 1025px) { /* Laptop+ */ 
    font-size: 2.25rem;
    bottom: -28px;
  }
}