.header {
  position: absolute;
  color: var(--color-warning);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  top: -24px;
  left: 20px;
  white-space: nowrap;
  z-index: 10;

  @media (min-width: 1025px) { /* Laptop+ */ 
    font-size: 2.25rem;
    top: -30px;
  }
}

.footer {
  position: absolute;
  color: var(--color-neutral-content);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.75rem;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  bottom: -20px;
  right: 20px;
  z-index: 10;
  white-space: nowrap;

  @media (min-width: 1025px) { /* Laptop+ */ 
    font-size: 1.85rem;
    bottom: -22px;
  }
}