.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.container { 
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  margin: 42px auto;

  @media (min-width: 1025px) { /* Laptop */ 
    width: 80%;
  }
}