.container {
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 40px auto;
  width: 100%;
}

.buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  padding: 32px;
  border: 2px solid var(--color-neutral-content);
  border-radius: 12px;
}

.header {
  position: absolute;
  color: var(--color-warning);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 2.25rem;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  top: -30px;
  left: 20px;
  z-index: 10;
}