@import '../../../animations.css';

.rosterTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: 250ms fade-in linear;
}

.label {
  color: var(--neutralContent);
  font-family: 'Play', sans-serif;
  font-size: 1.25rem;
}

.header {
  color: var(--primaryContent);
  font-family: 'Play', sans-serif;
  font-size: .80rem;
  text-transform: uppercase;
  padding: 2px 14px;
  background-color: var(--accent);
}

.tableData {
  color: var(--neutralContent);
  font-family: 'Play', sans-serif;
  font-weight: 100;
  font-size: .75rem;
  text-align: center;
  line-height: 1.2rem;
  border-bottom: 1px solid var(--accent);
}

.tableDataInactive {
  color: var(--neutralContent);
  font-family: 'Play', sans-serif;
  font-weight: 100;
  font-size: .75rem;
  text-align: center;
  line-height: 1.2rem;
  border-bottom: 1px solid var(--accent);
  opacity: .2;
}