@import '../../../animations.css';

.button {
  color: var(--neutralContent);
  text-transform: uppercase;
  font-family: 'Jura', sans-serif;
  padding: 12px;
  outline: 1px solid var(--neutralContent);
  width: 100%;
  border-radius: 5px;
  box-shadow: 6px 6px 0 var(--neutralContent);
  animation: 250ms fade-in linear;

  @media (min-width: 768px) { /* Tablet+ */ 
    width: 160px;
  }
}

.button:hover {
  cursor: pointer;
  outline-color: var(--warning);
  box-shadow: 6px 6px 0 var(--warning);
}

.label {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}