@import '../../../animations.css';

.container {
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  border-radius: 10px;
  box-shadow: 8px 8px 8px var(--neutral);
  animation: 250ms fade-in-left linear;

  @media (min-width: 768px) and (max-width: 1024px) { /* Tablet */ 
    width: 80%;
    margin-right: auto;
  }

  @media (min-width: 1025px) and (max-width: 1919px) { /* Laptop */ 
    width: 70%;
  }

  @media (min-width: 1920px) { /* Desktop */ 
    width: 60%;
  }
}

.clearBtn {
  position: absolute;
  color: var(--neutralContent);
  text-transform: uppercase;
  background-color: var(--neutral);
  right: 8%;
  width: 20%;
  height: 40px;
  border-radius: 0 10px 10px 0;
}

.clearBtn:hover {
  cursor: pointer;
  color: var(--neutral);
  background-color: var(--warning);
}

.count {
  position: absolute;
  left: 10px;
  bottom: -22px;
  font-style: italic;
}

.header {
  position: absolute;
  color: var(--warning);
  text-shadow: 2px 2px 4px var(--neutral);
  font-size: 2.5rem;
  font-family: 'Fugaz One', sans-serif;
  font-weight: 400;
  top: -70%;
  left: -4%;
  z-index: 10;  

  @media (max-width: 1024px) { /* Tablet */ 
    font-size: 2.25rem;
    top: -32px;
  }
}