.schedulesTable th {
  font-family: 'Play', sans-serif;
  font-size: .80rem;
  text-transform: uppercase;
  padding: 6px 10px;
}

.tableData {
  font-family: 'Play', sans-serif;
  font-weight: 100;
  font-size: .75rem;
  text-align: center;
  line-height: 1.2rem;
}