.button {
  display: flex;
  justify-content: center;
  color: var(--warning);
  text-transform: uppercase;
  font-family: 'Jura', sans-serif;
  padding: 2px 6px;
  outline: 1px solid var(--b3);
  width: 160px;
  border-radius: 5px;
  box-shadow: 6px 6px 0 var(--b3);
}

.button:hover {
  cursor: pointer;
  color: var(--neutralContent);
  background-color: var(--warning);
  box-shadow: 6px 6px 0 var(--warning);
}

.label {
  font-size: .75vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: auto;
}