.button {
  display: flex;
  justify-content: center;
  color: var(--warning);
  text-transform: uppercase;
  font-family: 'Jura', sans-serif;
  padding: 12px;
  outline: 1px solid var(--b3);
  width: 100%;
  border-radius: 5px;
  box-shadow: 6px 6px 0 var(--b3);

  @media (min-width: 768px) { /* Tablet+ */ 
    width: 160px;
  }
}

.button:hover {
  cursor: pointer;
  color: var(--neutralContent);
  background-color: var(--warning);
  box-shadow: 6px 6px 0 var(--warning);
}

.label {
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}