.container {
  display: flex;
  flex-direction: column;
  font-family: 'Jura', sans-serif;
  margin-bottom: 12px;
}

.title {
  color: var(--neutral);
  font-family: 'Teko', sans-serif;  
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
  margin: auto;
  white-space: nowrap;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.input {
  padding: 12px 0;
  text-indent: 1rem;
  width: 100%;
}

.btn {
  color: var(--neutralContent);
  text-transform: uppercase;
  background-color: var(--primary);
  margin: auto;
  height: 44px;
  width: 92%;
}

.btn:hover {
  cursor: pointer;
  color: var(--neutralContent);
  background-color: var(--neutral);
}